<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Certificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Certificaciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-segment [(ngModel)]="opcion" (ionChange)="segmentChange($event)">
      <ion-segment-button value="datos">
        <ion-label>Mis Datos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="explab">
        <ion-label>Experiencia Laboral</ion-label>
      </ion-segment-button>
      <ion-segment-button value="certificaciones">
        <ion-label>Certificaciones</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="nombreCertificado" type="text" label="Nombre Certificado: "></ion-input>
    </ion-item>
    <ion-item>
      <ion-datetime presentation="date" #datetime [ngModel]="fechaObtencion">
        <span slot="title">Fecha de Obtencion</span>
        <ion-buttons slot="buttons">
          <ion-button color="danger" (click)="datetime.reset()"> Reset </ion-button>
        </ion-buttons>
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-toggle [(ngModel)]="vencimiento" [checked]="false">Certificado Vence?</ion-toggle>
    </ion-item>
    <ion-item *ngIf="vencimiento">
      <ion-datetime presentation="date" #datetimev [ngModel]="fechaVencimiento">
        <span slot="title">Fecha de Vencimiento</span>
        <ion-buttons slot="buttons">
          <ion-button color="danger" (click)="datetimev.reset()"> Reset </ion-button>
        </ion-buttons>
      </ion-datetime>
    </ion-item>
  </ion-list>

  <ion-button color="pastelBlue" id="clean" (click)="cleanInputs()" expand="block">
    Guardar
  </ion-button>

</ion-content>
