<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      SuperApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title #title id="title" size="large">SuperApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-button (click)="irALogin()" shape="round">
      Login
    </ion-button>
    <ion-button (click)="irARegistro()" shape="round">
      Registro
    </ion-button>
  </div>
</ion-content>
