<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Contenido -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrate!</ion-card-title>
      <ion-card-subtitle>Inserta tus datos para poder registrarte</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <!-- Input de Username -->
          <ion-input
            maxlength="8"
            [(ngModel)]="username"
            name="username"
            id="username"
            type="text"
            label="Username"
            labelPlacement="floating"
            ></ion-input>
        </ion-item>
        <ion-item>
          <!-- Input de Contraseña -->
          <ion-input
            type="password"
            maxlength="4"
            [(ngModel)]="password"
            name="password"
            id="password"
            label="Contraseña"
            inputmode="numeric"
            pattern="[0-9]*"
            labelPlacement="floating">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-button (click)="registrarUsuario()" expand="block" fill="clear" shape="round">
            Registrar
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
